[Desktop Entry]
Name=LiVES
Comment=Linux Video Editing System
Icon=/usr/share/lives/icons/LiVES_logo_32x.png
Exec=lives
Terminal=true
Geometry=0x0
Type=Application
Categories=Application;AudioVideo;
Encoding=UTF-8
