[Desktop Entry]
Name=LiVES
GenericName=Video Editor/VJ tool
Comment=A video editor and VJ program
Categories=AudioVideo;AudioVideoEditing;
Exec=lives
Icon=lives
Type=Application
Terminal=false
