LiVES keymap file version 4
1|WeedrotozoomrotozoomeffectTV1
1|WeedlifeTVlifeTVeffectTV1
1|Weedbump2dbumpmapsalsaman1
1|WeedfireTVfireTVeffectTV1
1|WeedvertigovertigoeffectTV1
2|Weededgeedge detecteffectTV1
3|Weedtextfuntextfunsalsaman2
3|WeedvertigovertigoeffectTV1
4|WeedblurzoomblurzoomeffectTV1
5|Weedmirrorsmirrorxsalsaman1
5|Weedmirrorsmirrorysalsaman1
5|Weedmirrorsmirrorxysalsaman1
6|Weednegatenegatesalsaman1
7|WeedrippleTVrippleTVeffectTV1
7|Weedposteriseposterisesalsaman1
8|Weedsimple_blendchroma blendsalsaman1
8|Weedmulti_blendsblend_darkensalsaman1
8|Weedmulti_blendsblend_lightensalsaman1
8|Weedmulti_blendsblend_overlaysalsaman1
8|Weedmulti_blendsblend_dodgesalsaman1
8|Weedmulti_blendsblend_screensalsaman1
8|Weedsimple_blendnegative luma overlaysalsaman1
8|Weedsimple_blendluma overlaysalsaman1
9|Weedplasmaplasmasalsaman/w.p van paasen1
